.settings
target
.classpath
.project
.DS_Store

src/main/webapp/WEB-INF/config/
src/main/webapp/WEB-INF/server-eshop.conf
src/main/webapp/WEB-INF/views/
src/main/webapp/static/
src/main/webapp/test/

*.log
# User-specific stuff:

### IntelliJ IDEA ###
*.iml
.idea
*.iws
*.ipr
*logs
bak.zip